.FP-container {
    width: 100%;
    height: 100vh;
    /* background-color: rgb(255, 246, 234); */
    /* background-color: rgb(26, 24, 48); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  @media (min-width: 640px) {
    .FP-container {
      height: auto;
      min-height: 100vh;
    }
  }
  
  @media (min-width: 768px) {
    .FP-container {
      height: auto;
      min-height: 100vh;
    }
  }
  
  @media (min-width: 1024px) {
    .FP-container {
      height: auto;
      min-height: 100vh;
    }
  }
  
  @media (min-width: 1280px) {
    .FP-container {
      height: auto;
      min-height: 100vh;
    }
  }
  
  .FP-story {
    width: fit-content;
    height: auto;
    margin: 0 auto;
  }


