*{
    margin: 0;
    padding: 0;
    
}
.LP-cover{
    width: 100vw;
    height: 100vh;
    background: url("../pictures/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
    position: fixed;
}
.LP-content{
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0);
    /* margin: 100px 50px;
    margin-left: 190px;
    padding-top: 140px;
     */
    margin-top: 13%;
    margin-left: 10%;
    /* text-shadow: 2px 2px 10px rgb(0, 0, 0); */
    /* color: rgb(255, 255, 255); */
}
.LP-box-h1{
    font-size: 60px;
    font-style: italic;
}