/* CustomScrollbar.css */

/* Define custom scrollbar styles */
::-webkit-scrollbar {
  width: 15px;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(254, 162, 82, 0.84); /* Color of the handle */
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(254, 163, 82); /* Color of the handle when hovered */
}
