.FF-BOX{
    height: 70vh;
    width: 60vh;
    background-color: aqua;
    margin-left: 33%;
    margin-top: 10%;
}
.FF-BOX1{
    height: 10%;
    width: 50%;
    background-color: bisque;
    margin-left: 50%;

}

