.LF-container{
    position: absolute;
    right: 100px;
    top: 160px;
    height: 400px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.481);
    /* background-color: rgb(254, 163, 82); */
    /* border: 5px solid rgb(254, 163, 82); */
    border-radius: 25px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.756);
}
.LF-show-hide-btn{
    width: 30px;
    position: absolute;
    right: 60px;
    top: 150px;
    cursor: pointer;
}
.LF-input{
    height: 50px;
    width: 290px;
    margin: 40px 45px 0;
    padding-left: 10px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
    background-color: rgba(240, 248, 255, 0);
}
.LF-input:focus{
    border: none;
    border-bottom: 3px solid rgb(0, 0, 0);
    outline: none;
}
.LF-login{
    height: 40px;
    width: 200px;
    margin: 30px 100px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: rgb(254, 163, 82);
}
.LF-login:hover{
    background-color: rgb(254, 163, 82);
    box-shadow: 2px 2px 10px black;
    transition: 0.3s;
}
.LF-h3{
    margin: 10px 40px;
}
.LF-signup{
    font-weight: bold;
    color: rgb(254, 163, 82);
    cursor: pointer;
    text-decoration: none;
}