.MS-container{
    width: 60vw;
    height: auto;
    /* z-index: ; */
    /* background-color: rgba(126, 252, 0, 0.282); */
    /* margin: 10px auto; */
}
@media (max-width: 800px){
    .MS-container{
        width: 100vw;
    }
}