.Photos-container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.856);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}
.Photos-box{
    width: 80%;
    height: 90%;
    background-color: rgba(240, 255, 255, 0.532);
    margin: 2.5% auto;
    display: flex;
}
.Photos-pic{
    flex-basis: 60%;
    background-color: rgb(0, 0, 0);
    /* padding: auto 0; */
    overflow: hidden;
}
.Photos-text{
    /* flex-basis: 40%; */
    flex: 1;
    background-color: rgb(255, 255, 255);
    padding: 20px 30px;
}
.Photos-img{
    width: 100%;
    /* margin: 13% 0; */
    /* height: 100%; */
    display: block;
}
.Photos-close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    cursor: pointer;
}
.Photos-text-head{
    display: flex;
    /* width: 100%; */
    /* background-color: rgba(0, 255, 255, 0.364); */
    /* padding: 20px 30px; */
    margin-bottom: 30px;
}
.Photos-text-head-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.Photos-text-head-h{
    flex: 1;
    /* background-color: aliceblue; */
    /* text-align: center; */
    margin: 0px 15px;
}
.Photos-text-btns{
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    position: relative;
}
.Photos-text-btns-img{
    width: 30px;
    cursor: pointer;
    margin-right: 5px;
}
.Photos-share-box{
    position: absolute;
    width: auto;
    height: 70px;
    background-color: rgba(0, 0, 0, 0);
    bottom: 55px;
    right: 10px;
}
.Photos-share-items{
    height: 100%;
    width: auto;
    background-color: rgb(254, 163, 82);
    border-radius: 10px;
    display: flex;
}
.Photos-svg{
    background-color: rgba(128, 128, 128, 0); 
    margin-left: 4%;   
}
.Photos-share-img{
    /* margin-left: 10px;
    margin-right: 10px; */
    margin: 15px 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.Photos-comment{
    margin: 30px 0 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgb(187, 187, 187);
    height: 40px;
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}
.Photos-comment:focus{
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
}
.Photos-comment-done-btn{
    height: 30px;
    width: 10%;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    background-color: rgba(240, 248, 255, 0);
    /* font-weight: bold; */
}
.Photos-comment-done-btn:hover{
    cursor: pointer;
    color: rgb(254, 163, 82);
}
.Photos-comment-section2{
    margin: 10px 0;
    font-size: 15px;
}
.Photos-delete-comm{
    width: 25px;
    vertical-align: middle;
    cursor: pointer;
}